/* color pallet
navy blue: 18121E
Gunmetal: 233237
Rusty red: 984B43
Warm Yellow: EAC67A */

body{
  width: 90%;
  margin: 0 auto;
  background-color:rgb(6, 7, 6);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#content {
  overflow: auto;
}

header {
  background-color: #232837a6;
  font-size: 200%;
  color: azure;
  text-align: center;
}

ol {
  display: block;
  list-style-type: decimal;
  padding-left: 20px;
  list-style-position: inside;
  font-size: 20px;
}

ul {
  display: block;
  list-style-type: disc;
  padding-left: 20px;
  list-style-position: inside;
  font-size: 20px;
}

h2 {
  text-align: center;
  border-bottom: 2px solid black;
  font-size: 200%;
  padding-bottom: 10px;
}

h3 {
  font-size: 120%;
  margin: 10px 0;
}

p {
  margin-left: 5px;
}

.ninja {
  object-fit: fill;
}

.guessingGame {
  margin: 1%;
  padding: 2%;
  background-color: #232837a6;
  border: 2px solid black;
  color: azure;
}

.topTenVideoGames, .topFoods {
  padding-bottom: 10px;
}

.topTenVideoGames, .topFoods, .picture{
  width: 31%;
  float: left;
  margin: 1%;
  background-color: #232837a6;
  border: 2px solid black;
  color: azure;
}

.topTenVideoGames h3, .topFoods h3 {
  text-align: center;
  margin: 10px 0;
  font-size: 120%;
}
