/* color pallet
navy blue: 18121E
Gunmetal: 233237
Rusty red: 984B43
Warm Yellow: EAC67A */

body{
  width: 90%;
  margin: 0 auto;
  background-color: rgb(48, 48, 48);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#content {
  overflow: auto;
}

header {
  background-color: rgb(69, 129, 69);
  font-size: 200%;
  color: azure;
  text-align: center;
}

ol {
  display: block;
  list-style-type: disc;
  padding-left: 20px;
  list-style-position: inside;
  font-size: 20px;
}

h2 {
  text-align: center;
  border-bottom: 2px solid black;
}

.guessingGame {
  margin: 1%;
  padding: 2%;
  background-color: azure;
  border: 2px solid black;
}

.topTenVideoGames, .topFoods {
  width: 33.3%;
  float: left;
  margin: 1%;
  background-color: azure;
  border: 2px solid black;
}

.topTenVideoGames h3, .topFoods h3 {
  text-align: center;
}